<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实验设备管理系统</title>
    <style>
        .navbar-brand{
            color: #fff!important;
            font-weight: bold;
        }
        body{
            padding-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"/>
    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/holder.min.js"></script>
    <script src="/public/js/index.js"></script>
    
</head>
<body>
    <div class="container">
        <!-- 导航条 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">实验设备管理系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#myModal" data-toggle="modal">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">退出系统</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 修改密码界面 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                        <h4 class="modal-title" id="myModalLabel">登陆</h4>
                    </div>
                    <form action="/" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="">旧密码：</label>
                                <input type="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="">新密码：</label>
                                <input type="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="">确认密码：</label>
                                <input type="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">确认</button>                  
                            <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 左侧栏 -->
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                设备管理
                            </a>
                        </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="list-group">
                                <a href="" class="list-group-item">添加设备</a>
                                <a href="" class="list-group-item">修改设备信息</a>
                                <a href="" class="list-group-item">删除设备</a>
                                <a href="" class="list-group-item">查找设备</a>                                
                                <a href="" class="list-group-item">设备借还信息</a>                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                设备借还
                            </a>
                        </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="list-group">
                                <a href="" class="list-group-item">设备借出</a>
                                <a href="" class="list-group-item">设备归还</a>
                                <a href="" class="list-group-item">设备借还信息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 右侧设计 -->
            <div class="col-md-10" id="rightBar">
                <div class="thumbnail">
                    <img src="holder.js/100px300" alt="...">
                    <div class="caption">
                        <h3></h3>
                        <p>
                            <!-- <a href="#" class="btn btn-primary" role="button">首页</a>  -->
                            <a href="javascript:;" class="btn btn-default" role="button">退出系统</a>
                        </p>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</body>
</html>